@import '~swiper/swiper-bundle';
.example-full-width {
    width: 100%;
    max-width: 300px;
    display: table;
    margin: 0 auto;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    line-height: 45px;
    height: 45px;
    padding: 0 16px;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
}

span {
    margin-left: 5px;
}

.group {
    width: 60%;
    margin: auto;
    background: rgb(233, 234, 241);
    padding: 15px;
    margin-top: 12px;
}


/****************************************************/

.radio--card-group {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    animation: fadein 1.75s ease-in-out;
}

.radio--card-group .radio--card__item {
    position: relative;
    width: 185px;
    min-height: 185px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.radio--card-group .radio--card__item .radio--card__content,
.radio--card-group .radio--card__itemOval .radio--card__content {
    box-sizing: border-box;
    padding: 20px;
}

.radio--card-group .radio--card__item .radio--card__content .radio--card__img {
    max-width: 150px;
}

.radio--card-group .radio--card__item input[type=radio],
.radio--card-group .radio--card__itemOval input[type=radio] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
}

.radio--card-group .radio--card__item input[type=radio]+label:before,
.radio--card-group .radio--card__itemOval input[type=radio]+label:before {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    content: " ";
    border-radius: 5px;
}

.radio--card-group .radio--card__item input[type=radio]+label:after,
.radio--card-group .radio--card__itemOval input[type=radio]+label:after {
    position: absolute;
    width: 10px;
    height: 20px;
    right: 20px;
    top: 15px;
    content: " ";
    vertical-align: top;
    transform: rotate(0deg);
    border-bottom: 4px solid #fd6638;
    border-right: 4px solid #fd6638;
    opacity: 0;
}

.radio--card-group .radio--card__item input[type=radio]:focus+label:before,
.radio--card-group .radio--card__itemOval input[type=radio]:focus+label:before {
    border: 1px solid #fd6638;
}

.radio--card-group .radio--card__item input[type=radio]:checked+label:before,
.radio--card-group .radio--card__itemOval input[type=radio]:checked+label:before {
    border: 2px solid #fd6638;
}

.radio--card-group .radio--card__item input[type=radio]:checked:focus+label:before,
.radio--card-group .radio--card__itemOval input[type=radio]:checked:focus+label:before {
    box-shadow: 0 0 5px #fd6638;
}

.radio--card-group .radio--card__item input[type=radio]:checked+label:after,
.radio--card-group .radio--card__itemOval input[type=radio]:checked+label:after {
    transform: rotate(45deg);
    opacity: 1;
    transition: 0.5s;
}


/**********Colors************/

.controls .radio-colors {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40;
}

.form-input-check+label span {
    display: inline-block;
    width: 42x;
    height: 42px;
    margin: 0 4px 0 0;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #222;
    cursor: pointer;
    position: relative;
    top: -2px;
}

.form-input-check:checked+label span {
    background: #222;
}

.radio-colors {
    margin-bottom: 0 !important;
}

.radio-colors label {
    margin-bottom: 0;
    color: gray;
}

.form-input-check {
    display: none;
}

.radio-colors .form-input-check+label span {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 6px;
    background: red;
    border: none;
}

.radio-colors .form-input-check:checked+label span {
    background: red;
    border: 2px solid white;
    box-shadow: 0 0 0 2px red;
}

.radio-colors.radio-colors-orange .form-input-check+label span {
    background: #DF7139;
}

.radio-colors.radio-colors-orange .form-input-check:checked+label span {
    background: #DF7139;
    box-shadow: 0 0 0 3px #DF7139;
}

.radio-colors.radio-colors-red .form-input-check+label span {
    background: #DD3D48;
}

.radio-colors.radio-colors-red .form-input-check:checked+label span {
    background: #DD3D48;
    box-shadow: 0 0 0 3px #DD3D48;
}

.radio-colors.radio-colors-yellow .form-input-check+label span {
    background: #F3C252;
}

.radio-colors.radio-colors-yellow .form-input-check:checked+label span {
    background: #F3C252;
    box-shadow: 0 0 0 3px #F3C252;
}

.radio-colors.radio-colors-blue .form-input-check+label span {
    background: #6291EE;
}

.radio-colors.radio-colors-blue .form-input-check:checked+label span {
    background: #6291EE;
    box-shadow: 0 0 0 3px #6291EE;
}

.radio-colors.radio-colors-green .form-input-check+label span {
    background: #B2D86C;
}

.radio-colors.radio-colors-green .form-input-check:checked+label span {
    background: #B2D86C;
    box-shadow: 0 0 0 3px #B2D86C;
}

.hex-picker {
    display: inline-block;
    width: 42x;
    height: 42px;
    margin: 6px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    top: -2px;
}

section {
    display: table;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.example-button-row {
    display: table-cell;
    width: 490px;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}


/* .label img,
.label div {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.img-container-block {
    text-align: center;
}

.img-container-inline {
    text-align: center;
    display: block;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Make the image to responsive */

.image {
    display: block;
    width: 100%;
    height: auto;
}

.main-nav {
    display: flex;
    padding: 1em;
    font-family: sans-serif;
}

.main-nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 3;
}

.main-nav li {
    margin-right: 1em;
    margin: 5px;
}

.main-nav>form {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

.table {
    /* Allow the centering to work */
}

ul#horizontal-list {
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li {}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}


/************ colors new update ******/

.colors ul {
    list-style: none;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding-top: 20px;
}

.colors li {
    margin: 0 20px;
    /*margin   0 20px 0 0 */
    display: inline;
    display: block;
    position: relative;
}

.colors label {
    cursor: pointer;
    display: inline;
}

.colors input {
    display: none;
}

.colors input[type="radio"]:checked+.swatch {
    box-shadow: inset 0 0 0 3px #fd6638;
    /****/
}

.grid-containerOval input[type="radio"]:checked+.swatch1 {
    box-shadow: inset 0 0 0 3px #fd6638;
}

.swatch {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
}


/***** ovale Rect*/

.grid-containerOval {
    display: grid;
    grid-template-columns: 20% 20%;
    grid-gap: 190px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.grid-itemOval {
    background-color: #d4d4d4;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

img#oval {
    border-radius: 100px / 80px;
}