@import '~swiper/swiper-bundle';
.example-full-width {
    width: 100%;
    max-width: 300px;
    display: table;
    margin: 0 auto;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    line-height: 45px;
    height: 45px;
    padding: 0 16px;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
}

span {
    margin-left: 5px;
}

.group {
    width: 60%;
    margin: auto;
    background: rgb(233, 234, 241);
    padding: 15px;
    margin-top: 12px;
}


/*****************/

.container {
    width: 100%;
    padding: 15px;
    margin-top: 12px;
    margin: auto;
    /* display: flex;
    flex-direction: column; */
}

.card {
    position: absolute;
    height: 450px;
    width: 100%;
    max-width: 850px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
    display: block;
    margin-bottom: 20px;
    flex-direction: column;
}

.card .inner_part {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 30px;
    height: 350px;
    position: absolute;
}

#slideImg:checked~.inner_part {
    padding: 0;
    transition: .1s ease-in;
}

.inner_part .img {
    height: 260px;
    width: 260px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
}

#slideImg:checked~.inner_part .img {
    height: 350px;
    width: 850px;
    z-index: 99;
    transition: .3s .2s ease-in;
}

.img img {
    height: 100%;
    width: 100%;
    opacity: 0;
}

#slide_1:checked~.inner_part .img_1,
#slide_2:checked~.inner_part .img_2,
#slide_3:checked~.inner_part .img_3 {
    opacity: 1;
    transition-delay: .2s;
}

.content_1 {
    padding: 0 20px 0 35px;
    width: 430px;
    margin-left: 50px;
}

#slideImg:checked~.inner_part .content {
    display: none;
}

#slide_1:checked~.inner_part .content_1,
#slide_2:checked~.inner_part .content_2,
#slide_3:checked~.inner_part .content_3 {
    opacity: 1;
    margin-left: 0;
    z-index: 100;
    transition-delay: .3s;
}

.content_1 .title {
    font-size: 30px;
    font-weight: 700;
    color: #0d0925;
    margin: 0 0 20px 0;
}

.content_1 .text {
    font-size: 19px;
    color: #4e4a67;
    margin: 0 auto 30px auto;
    line-height: 1.5em;
    text-align: justify;
}

.content_1 button {
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    background: #000000;
    float: right;
}

.content_1 button:hover {
    background: #cecece;
    color: #000000;
}

.slider {
    position: absolute;
    bottom: 25px;
    left: 55%;
    transform: translateX(-50%);
    z-index: 1;
}

#slideImg:checked~.slider {
    display: none;
}

.slider .slide {
    position: relative;
    height: 10px;
    width: 50px;
    background: #d9d9d9;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
}

.slider .slide:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: -100%;
    background: #000000;
    ;
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform .6s;
    transform-origin: left;
}

#slide_1:checked~.slider .slide_1:before,
#slide_2:checked~.slider .slide_2:before,
#slide_3:checked~.slider .slide_3:before {
    transform: scaleX(1);
    width: 100%;
}

input {
    display: none;
}


/*********Swiper**************/

.app-title {
    font-size: 24px;
}

.box-title {
    font-size: 20px;
}

.box-container {
    box-sizing: border-box;
    width: 800px;
    height: 500px;
    max-width: 90%;
    max-height: 90%;
    padding: 24px;
    margin: 24px auto;
    border-radius: 4px;
    color: #555;
    background-color: #eee;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18), 0 6px 6px rgba(0, 0, 0, 0.25);
}

.info-container {
    padding: 12px 16px;
    line-height: 24px;
}

.action-container,
.content-container {
    position: relative;
    overflow: auto;
    height: 300px;
    min-height: 0;
    margin: 8px 16px;
    border-radius: 4px;
    background-color: #fff;
}

.action-container {
    padding: 16px;
}

.vertical-container,
.horizontal-container {
    min-height: 0 !important;
}

.action-button {
    box-sizing: border-box;
    width: calc(100% - 16px);
    min-height: 35px;
    padding: 4px 16px;
    margin: 8px;
    border: 1px solid #555;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
}

.action-button:hover {
    color: #fff;
    background-color: #555;
}

.swiper-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.swiper-slide {
    color: #aaa;
    background-color: #eee;
}

.swiper-slide-active {
    color: #fff;
    background-color: #aaa;
}