<section>
    <div class="example-button-row">
        <button mat-button color="primary" (click)="perso()">Je souhaite configurer</button>
        <button mat-button color="primary" (click)="parRef()">Par Ref</button>
    </div>
</section>
<div *ngIf='confRef' style="margin:auto; width: 70%; margin-top: 30px;">
    <app-search-bar (onSelectedOption)="onSelectedOption($event)"></app-search-bar>
</div>


<!-- <div *ngFor="let refs of ref" class="group">
    <img src="{{refs.url}}" alt="">
    <p><b>Item :</b>{{refs.id}}</p>
    <p><b>Title :</b> {{refs.title}}</p>
</div> -->


<!-- <div class="box-container" fxLayout="column" [ngStyle.lt-sm]="'min-height: 800px;'">
    <div class="app-title">Simple example app for the ngx-swiper-wrapper</div>

    <div class="info-container">
        You can change the basic settings of the Swiper area by clicking the buttons on the controls pane.
    </div>

    <div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex="auto">
        <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
            <div class="box-title">Controls</div>

            <div class="action-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
                <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='toggleType()'>{{(type == "component") ? "Switch to directive" : "Switch to component"}}</div>

                <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='toggleDirection()'>{{(config.direction == "horizontal") ? "Change to vertical" : "Change to horizontal"}}</div>

                <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='toggleSlidesPerView()'>Toggle slides per view</div>

                <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='toggleOverlayControls()'>Toggle overlay controls</div>

                <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='toggleKeyboardControl()'>{{config.keyboard ? "Disable arrow keys" : "Enable arrow keys"}}</div>

                <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='toggleMouseWheelControl()'>{{config.mousewheel ? "Disable mouse wheel" : "Enable mouse wheel"}}</div>
            </div>
        </div>

        <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
            <div class="box-title">Swiper</div>

            <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
                <swiper *ngIf="type == 'component' && show" class="swiper-container" fxFlex="auto" [config]="config" [disabled]="disabled" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
                    <div *ngFor="let slide of slides" class="swiper-slide">
                        <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                            <img src="{{refs.url}}" alt="">
                        </div>
                    </div>
                </swiper>

                <div *ngIf="type == 'directive' && show" class="swiper-container" [disabled]="disabled" [swiper]="config" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
                    <div class="swiper-wrapper">
                        <div *ngFor="let slide of slides" class="swiper-slide">
                            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                                {{slide}}
                            </div>
                        </div>
                    </div>

                    <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
                    <div class="swiper-pagination" [hidden]="config.pagination === false"></div>

                    <div class="swiper-button-prev" [hidden]="config.navigation === false"></div>
                    <div class="swiper-button-next" [hidden]="config.navigation === false"></div>
                </div>
            </div>
        </div>
    </div>
</div> -->



<!-- <div class="box-container" fxLayout="column" [ngStyle.lt-sm]="'min-height: 800px;'">
    <div class="app-title">Simple example app for the ngx-swiper-wrapper</div>

    <div class="info-container">
        You can change the basic settings of the Swiper area by clicking the buttons on the controls pane.
    </div>

    <div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex="auto">
        <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
            <div class="box-title">Controls</div>

            <div class="action-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
                <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='toggleType()'>
                    {{(type == "component") ? "Switch to directive" : "Switch to component"}}
                </div>

                <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='toggleDirection()'>
                    {{(config.direction == "horizontal") ? "Change to vertical" : "Change to horizontal"}}
                </div>

                <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='toggleSlidesPerView()'>
                    Toggle slides per view
                </div>

                <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='toggleOverlayControls()'>
                    Toggle overlay controls
                </div>

                <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='toggleKeyboardControl()'>
                    {{config.keyboard ? "Disable arrow keys" : "Enable arrow keys"}}
                </div>

                <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='toggleMouseWheelControl()'>
                    {{config.mousewheel ? "Disable mouse wheel" : "Enable mouse wheel"}}
                </div>
            </div>
        </div>

        <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
            <div class="box-title">Swiper</div>

            <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
                <swiper *ngIf="type == 'component' && show" class="swiper-container" fxFlex="auto" [config]="config" [disabled]="disabled" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
                    <div *ngFor="let slide of slides" class="swiper-slide">
                        <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                            <img [src]="slide" alt="image" class="slide">
                        </div>
                    </div>
                </swiper>

                <div *ngIf="type == 'directive' && show" class="swiper-container" [disabled]="disabled" [swiper]="config" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
                    <div class="swiper-wrapper">
                        <div *ngFor="let slide of slides" class="swiper-slide">
                            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                                <img [src]="slide" alt="image" class="slide">
                            </div>
                        </div>
                    </div>

                    <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
                    <div class="swiper-pagination" [hidden]="config.pagination === false"></div>

                    <div class="swiper-button-prev" [hidden]="config.navigation === false"></div>
                    <div class="swiper-button-next" [hidden]="config.navigation === false"></div>
                </div>
            </div>
        </div>
    </div>
</div> -->






<div *ngIf='confRef'>
    <div *ngFor='let refs of ref' class="blog-slider" fxLayout="column">
        <div class="blog-slider__wrp">
            <div class="blog-slider__item">
                <img class="blog-slider__img" src="{{refs.url}}" alt="">
                <div class="blog-slider__content">
                    <span class="blog-slider__code">{{refs.title}}</span>
                    <!-- <div class="blog-slider__title"></div> -->
                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Haut en cm</mat-label>
                            <input matInput #input type='number'>
                            <mat-hint align="end">ex : 3,5 cm</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Bas en cm</mat-label>
                            <input matInput #input type='number'>
                            <mat-hint align="end">ex : 3,5 cm</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Droite en cm</mat-label>
                            <input matInput #input type='number'>
                            <mat-hint align="end">ex : 3,5 cm</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Gauche en cm</mat-label>
                            <input matInput #input type='number'>
                            <mat-hint align="end">ex : 3,5 cm</mat-hint>
                        </mat-form-field>
                    </div>
                    <a href="#" class="blog-slider__button">Valider</a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <form>
    <div class="cc-selector">
        <input id="visa" type="radio" name="credit-card" value="4" />
        <label class="drinkcard-cc visa" for="visa"></label>
        <input id="mastercard" type="radio" name="credit-card" value="mastercard" />
        <label class="drinkcard-cc mastercard" for="mastercard"></label>
    </div>
</form> -->



<!-- ********************************************************** -->


<div *ngIf='personaliser' class="radio--card-group">
    <div class="radio--card__item">
        <input id="id_gender_0" value="M" name="gender" type="radio">
        <label for="id_gender_0"></label>
        <div class="radio--card__content">
            <img class="radio--card__img" src="https://www.ikea.com/pimg/0638336_pe698860_s5.jpg?f=s" alt="">
            <p class="radio--card__text">Simple</p>
        </div>
    </div>
    <div class="radio--card__item">
        <input id="id_gender_1" value="M" name="gender" type="radio">
        <label for="id_gender_1"></label>
        <div class="radio--card__content">
            <img class="radio--card__img" src="https://www.ikea.com/pimg/0638336_pe698860_s5.jpg?f=s" alt="">
            <p class="radio--card__text">Double</p>
        </div>
    </div>
    <div class="radio--card__item">
        <input id="id_gender_2" value="M" name="gender" type="radio">
        <label for="id_gender_2"></label>
        <div class="radio--card__content">
            <img class="radio--card__img" src="https://www.ikea.com/pimg/0638336_pe698860_s5.jpg?f=s" alt="">
            <p class="radio--card__text">Epais</p>
        </div>
    </div>
    <div class="radio--card__item">
        <input id="id_gender_3" value="M" name="gender" type="radio">
        <label for="id_gender_3"></label>
        <div class="radio--card__content">
            <img class="radio--card__img" src="https://www.ikea.com/pimg/0638336_pe698860_s5.jpg?f=s" alt="">
            <p class="radio--card__text">Simple avec Filet</p>
        </div>
    </div>
    <div class="radio--card__item">
        <input id="id_gender_4" value="M" name="gender" type="radio">
        <label for="id_gender_4"></label>
        <div class="radio--card__content">
            <img class="radio--card__img" src="https://www.ikea.com/pimg/0638336_pe698860_s5.jpg?f=s" alt="">
            <p class="radio--card__text">Biseau Anglais</p>
        </div>
    </div>
</div>


<!-- colors -->
<section>
    <div *ngIf='personaliser' class="radio--card-group">
        <div class="controls">
            <div class="formGroup">

                <div class="radio-colors radio-colors-orange">
                    <input class="form-input-check" type="radio" id="orange" name="swatch2">
                    <label for="orange"><span></span></label>
                </div>

                <div class="radio-colors radio-colors-red">
                    <input class="form-input-check" type="radio" id="red" name="swatch2">
                    <label for="red"><span></span></label>
                </div>

                <div class="radio-colors radio-colors-yellow">
                    <input class="form-input-check" type="radio" id="yellow" name="swatch2">
                    <label for="yellow"><span></span></label>
                </div>

                <div class="radio-colors radio-colors-blue">
                    <input class="form-input-check" type="radio" id="blue" name="swatch2">
                    <label for="blue"><span></span></label>
                </div>

                <div class="radio-colors radio-colors-green">
                    <input class="form-input-check" type="radio" id="green" name="swatch2">
                    <label for="green"><span></span></label>
                </div>


            </div>
        </div>
    </div>
</section>