<mat-form-field class="example-full-width">

    <input matInput placeholder="Search Reference" [matAutocomplete]="auto" [formControl]="referenceCtrl">

    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let reference of filteredReference | async" [value]="reference.title">

            <img class="example-option-img" aria-hidden [src]="reference.url" height="25">
            <span>{{reference.title}}</span>

        </mat-option>
    </mat-autocomplete>
</mat-form-field>