<button mat-raised-button color="primary" routerLink='/encadrement' style="width: 8em;margin: 15px ;padding: 5px;"><mat-icon matPrefix>arrow_left</mat-icon> Reteur</button>

<!-- <div class="example-container">
    <form [formGroup]="dimensions" class="example-form">

        <h3>Dimensions du sujet à encadrer</h3>

        <p><span>
                <mat-label>Largeur en <strong>cm</strong> : </mat-label>
                <mat-form-field appearance="outline" class="example-full-width">

                    <input matInput placeholder="Ex : 30,5" [(ngModel)]="longueur" formControlName="largeurForm" required>
                    <mat-hint align="end">la dimension du sujet doit être de 2 cm par 2 cm minimum et de 180 cm par 180 cm maximum</mat-hint>
                    <mat-error *ngIf="checkError('largeurForm', 'required')">Champs obligatoire</mat-error>
                    <mat-error *ngIf="checkError('largeurForm', 'pattern')">Veuillez saisir les dimensions décimales avec une virgule et un seul chiffre derrière, par exemple : 50,5</mat-error>
                    <mat-error *ngIf="checkError('largeurForm', 'min')">La dimension ne doit pas excéder 180 cm par 180 cm maximum et doit être au minimum de 2 cm par 2 cm.</mat-error>
                    <mat-error *ngIf="checkError('largeurForm', 'max')">La dimension ne doit pas excéder 180 cm par 180 cm maximum et doit être au minimum de 2 cm par 2 cm.</mat-error>
                </mat-form-field>
            </span>
        </p>
        <p><span>
                <mat-label>Hauteur en <strong>cm</strong> : </mat-label>
                
                <mat-form-field appearance="outline" class="example-full-width">

                    <input matInput placeholder="Ex : 50,5" [(ngModel)]="hauteur" formControlName="hauteurForm" required>
                    <mat-hint align="end">la dimension du sujet doit être de 2 cm par 2 cm minimum et de 180 cm par 180 cm maximum</mat-hint>
                    <mat-error *ngIf="checkError('hauteurForm', 'required')">Champs obligatoire</mat-error>
                    <mat-error *ngIf="checkError('hauteurForm', 'pattern')">Veuillez saisir les dimensions décimales avec une virgule et un seul chiffre derrière, par exemple : 50,5</mat-error>
                    <mat-error *ngIf="checkError('hauteurForm', 'min')">La dimension ne doit pas excéder 180 cm par 180 cm maximum et doit être au minimum de 2 cm par 2 cm.</mat-error>
                    <mat-error *ngIf="checkError('hauteurForm', 'max')">La dimension ne doit pas excéder 180 cm par 180 cm maximum et doit être au minimum de 2 cm par 2 cm.</mat-error>
                </mat-form-field>
            </span>
        </p>
        <button mat-raised-button routerLink='/pass-par-tout' type="submit" [disabled]="!dimensions.valid" color="primary" (click)='onSubmit()'>Valider</button>
    </form>
</div>
<div *ngIf="dimensions.valid" class="container">
    <ng-container *ngIf="hauteur > longueur; else second">
        <img src="assets/images/portrait.jpg" alt="image" style="padding:4px;width:50%">
        <p>Prortrait</p>
    </ng-container>
    <ng-template #second>
        <ng-container *ngIf="hauteur < longueur; else third">
            <img src="assets/images/paysage.jpg" alt="image" style="padding:4px;width:50%">
            <p>Paysage</p>
        </ng-container>
    </ng-template>
    <ng-template #third>
        <img src="assets/images/carre.jpg" alt="image" style="padding:4px;width:50%">
        <p>Carré</p>
    </ng-template>
</div> -->


<form [formGroup]="dimensions" class="example-form">
    <div class="grid-container">
        <div class="grid-item">
            <mat-label>Largeur en <strong>cm</strong> : </mat-label>
            <mat-form-field appearance="outline" class="example-full-width">

                <input matInput placeholder="Ex : 30,5" [(ngModel)]="longueur" formControlName="largeurForm" required>
                <mat-hint align="end">la dimension du sujet doit être de 2 cm par 2 cm minimum et de 180 cm par 180 cm maximum</mat-hint>
                <mat-error *ngIf="checkError('largeurForm', 'required')">Champs obligatoire</mat-error>
                <mat-error *ngIf="checkError('largeurForm', 'pattern')">Veuillez saisir les dimensions décimales avec une virgule et un seul chiffre derrière, par exemple : 50,5</mat-error>
                <mat-error *ngIf="checkError('largeurForm', 'min')">La dimension ne doit pas excéder 180 cm par 180 cm maximum et doit être au minimum de 2 cm par 2 cm.</mat-error>
                <mat-error *ngIf="checkError('largeurForm', 'max')">La dimension ne doit pas excéder 180 cm par 180 cm maximum et doit être au minimum de 2 cm par 2 cm.</mat-error>
            </mat-form-field>
        </div>
        <div class="grid-item">
            <mat-label>Hauteur en <strong>cm</strong> : </mat-label>

            <mat-form-field appearance="outline" class="example-full-width">

                <input matInput placeholder="Ex : 50,5" [(ngModel)]="hauteur" formControlName="hauteurForm" required>
                <mat-hint align="end">la dimension du sujet doit être de 2 cm par 2 cm minimum et de 180 cm par 180 cm maximum</mat-hint>
                <mat-error *ngIf="checkError('hauteurForm', 'required')">Champs obligatoire</mat-error>
                <mat-error *ngIf="checkError('hauteurForm', 'pattern')">Veuillez saisir les dimensions décimales avec une virgule et un seul chiffre derrière, par exemple : 50,5</mat-error>
                <mat-error *ngIf="checkError('hauteurForm', 'min')">La dimension ne doit pas excéder 180 cm par 180 cm maximum et doit être au minimum de 2 cm par 2 cm.</mat-error>
                <mat-error *ngIf="checkError('hauteurForm', 'max')">La dimension ne doit pas excéder 180 cm par 180 cm maximum et doit être au minimum de 2 cm par 2 cm.</mat-error>
            </mat-form-field>

        </div>
        <div class="grid-item">
            <button mat-raised-button routerLink='/pass-par-tout' type="submit" [disabled]="!dimensions.valid" color="primary" (click)='onSubmit()' style="width: 14em;">Valider</button>
        </div>
        <div *ngIf="dimensions.valid" class="container">
            <ng-container *ngIf="hauteur > longueur; else second">
                <img src="assets/images/portrait.jpg" alt="image" style="width:50%">
                <p>Prortrait</p>
            </ng-container>
            <ng-template #second>
                <ng-container *ngIf="hauteur < longueur; else third">
                    <img src="assets/images/paysage.jpg" alt="image" style="width:100%; height: 100%;">
                    <p>Paysage</p>
                </ng-container>
            </ng-template>
            <ng-template #third>
                <img src="assets/images/carre.jpg" alt="image" style="width:50%">
                <p>Carré</p>
            </ng-template>
        </div>
    </div>
</form>