.grid-container {
    display: grid;
    grid-template-columns: 300px;
    padding: 5px;
    grid-gap: 0 10px;
}

.grid-item {
    padding: 20px;
    text-align: center;
}

.container {
    height: 500px;
    width: 800px;
}