<!-- <div class="card">
        <div class="image">
            <img src="http://1.bp.blogspot.com/-EhPr4LXcywE/Udr594sPHTI/AAAAAAAAAJ4/Tv4y4CBLTPM/s400/Cristina-Otero-2.jpg" />
        </div>
        <div class="details">
            <div class="center">
                <h1>Someone famous<br><span>team leader</span></h1>
                <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
            </div>
        </div>
    </div> -->



<div class="content">
    <div fxLayout="row wrap" fxLayoutAlign="center space-around" fxLayoutGap="76px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="center">
                        <h1>Miroir</h1>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </div>
                </mat-card-content>
                <!-- <mat-card-actions>
                                    <button mat-button>LIKE</button>
                                    <button mat-button>SHARE</button>
                                </mat-card-actions> -->
            </mat-card>

        </div>
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-card class="mat-elevation-z4">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="center">
                        <h1>Miroir</h1>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </div>
                </mat-card-content>
                <!-- <mat-card-actions>
                                    <button mat-button>LIKE</button>
                                    <button mat-button>SHARE</button>
                                </mat-card-actions> -->
            </mat-card>
        </div>
    </div>
</div>