<!-- <div class="content">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3]">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>Mountains {{num}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                <mat-card-content>
                    <p>
                        The Himalayas is a mountain range in Asia.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="card">
        <div class="image">
            <img src="https://www.westelm.co.uk/site/WE/Product%20Images/gallery-frames-polished-brass-w1683-alt-2-z.jpg?resizeid=61&resizeh=450&resizew=450" />
        </div>
        <div class="details">
            <div class="center">
                <h1>Cadre complet</h1>
                <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
                <div class="buttons">
                    <button class="offset">Choisir</button>
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="https://images.samsung.com/is/image/samsung/be-fr-feature-cadre-the-frame-scfm43-96735793?$FB_TYPE_A_MO_JPG$" />
        </div>
        <div class="details">
            <div class="center">
                <h1>Cadre assemblé</h1>
                <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
                <div class="buttons">
                    <button class="offset">Choisir</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="https://images.samsung.com/is/image/samsung/p5/my/lifestyle-tvs/the-frame/design/2020-the-frame-frame-design-02-kv-mo.jpg?$ORIGIN_JPG$" />
        </div>
        <div class="details">
            <div class="center">
                <h1>Cadre prédécoupé</h1>
                <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
                <div class="buttons">
                    <button class="offset">Choisir</button>
                </div>
            </div>
        </div>
    </div>
</div>